<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- <h1>Mini Message Board</h1> -->
    <%- include('navbar') %>
    <main class="main-content">
      <ul>
        <% messages.forEach(message => { %>
        <li class="message-container">
          <a href="/new/<%=message.id%>">
            <div class="user-name"><%=message.user%></div>
            <div class="user-date">
              <%=format(message.added, 'yyyy-MM-dd HH:mm:ss')%>
            </div>
            <div class="user-message"><%=message.text%></div>
          </a>
        </li>
        <% }) %>
      </ul>
    </main>
    <%- include('footer') %>
  </body>
</html>
