<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <main class="main-content">
      <ul>
        <% users.forEach(user => { %>
        <li class="message-container">
          <a href="/new/<%=user.id%>">
            <div class="user-name"><%=user.username%></div>
            <div class="user-date">
              <%=format(user.created_at, 'yyyy-MM-dd HH:mm:ss')%>
            </div>
            <div class="user-message"><%=user.message%></div>
          </a>
        </li>
        <% }) %>
      </ul>
    </main>
    <%- include('footer') %>
  </body>
</html>
