<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navbar') %>

    <main class="main-content">
      <div class="message-container">
        <div class="user-name"><%=message.username%></div>
        <div class="user-date">
          <%=format(message.created_at, 'yyyy-MM-dd HH:mm:ss')%>
        </div>
        <div class="user-message"><%=message.message%></div>
      </div>
    </main>
    <%- include('footer') %>
  </body>
</html>
